# Homework #3: SQL

To start with, if you felt the class was unclear, check out the following tutorial: https://mode.com/sql-tutorial/introduction-to-sql/

Now! We'll be using sqlite to access a database. Start by downloading the sql lite file and putting it in the same directory as this notebook: https://www.kaggle.com/datasets/kaggle/sf-salaries (hit the 'download' button in the upper right). Check out the description of the data so you know the table / column names.

The following code will use sqlite to create a database connection.

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("database.sqlite")
crsr = conn.cursor()

# Exploration

Problem 1:

Try to create a query that gives you a data frame of the EmployeeName, JobTitle, and BasePay from the salaries table.

In [2]:

query = 'SELECT EmployeeName,JobTitle,BasePay FROM salaries'

df = pd.read_sql(query, conn)
df.head()

,EmployeeName,JobTitle,BasePay
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6

Problem 2.

Modify your query to limit it to the year 2012.

In [3]:
query = 'SELECT * FROM salaries  WHERE Year =  2012'

df = pd.read_sql(query, conn)
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Email
0,36160,Gary Altenberg,"Lieutenant, Fire Suppression",128808.87,220909.48,13126.31,44430.12,362844.66,407274.78,2012,,San Francisco,,None
1,36161,Gregory Suhr,Chief of Police,302578.00,0.00,18974.11,69810.19,321552.11,391362.30,2012,,San Francisco,,None
2,36162,Khoa Trinh,Electronic Maintenance Tech,111921.00,146415.32,78057.41,53102.29,336393.73,389496.02,2012,,San Francisco,,None
3,36163,Joanne Hayes-White,"Chief, Fire Department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012,,San Francisco,,None
4,36164,Frederick Binkley,EMT/Paramedic/Firefighter,126863.19,192424.49,17917.18,44438.25,337204.86,381643.11,2012,,San Francisco,,None

Problem 3:

Further limit the table to the year 2012, employees making under 150,000, and sort in descending order by year.

In [4]:
query = 'SELECT * FROM salaries    WHERE TotalPay < 150000 AND Year =  2012 ORDER BY Year '

df = pd.read_sql(query, conn)
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Email
0,37556,Marcia Bell,Law Librarian,140485.60,0.0,8387.1,69196.17,148872.70,218068.87,2012,,San Francisco,,None
1,37999,Tristan Levardo,Manager IV,145592.63,0.0,1500.0,61386.30,147092.63,208478.93,2012,,San Francisco,,None
2,38041,Paul Gambon,Manager V,145592.65,0.0,3486.0,58293.37,149078.65,207372.02,2012,,San Francisco,,None
3,38049,Gerardo Fries,Manager IV,145448.07,0.0,3486.0,58289.15,148934.07,207223.22,2012,,San Francisco,,None
4,38054,Masood Ordikhani,Manager IV,145606.89,0.0,3486.0,58007.96,149092.89,207100.85,2012,,San Francisco,,None

# Aggregation

Problem 4:

Select the average base pay from the table.

In [5]:
query = 'SELECT AVG(BasePay) FROM Salaries'

df = pd.read_sql(query, conn)
df.head()

   AVG(BasePay)
0  66053.729288

Problem 5:

Produce and print the head of a dataframe that shows the average pay for each year (only use a single, simple query). Your result should have a column for the year and a column for the average base pay.

In [6]:
query = 'SELECT Year, AVG(BasePay) FROM Salaries GROUP BY Year'

df = pd.read_sql(query, conn)
df.head()

   Year  AVG(BasePay)
0  2011  63595.956517
1  2012  65436.406857
2  2013  68509.832156
3  2014  66557.437750

Problem 6: 

Create a dataframe with average base pay, benefits, and overtime for each job title, as well as a column with the total average.

In [15]:
query = 'SELECT AVG(BasePay),  AVG(Benefits), AVG(OvertimePay) FROM Salaries'
df = pd.read_sql(query, conn)
df.head()

   AVG(BasePay)  AVG(Benefits)  AVG(OvertimePay)
0  66053.729288   18924.232839       5065.923568

# Table Creation

Problem 7:

Now we'll create our own table in our database. Separate the Salaries table by Year, and add it back to the database

In [8]:
for y in ['2011','2012','2013','2014']:
    query = ""
    
    df = pd.read_sql(query, conn)
    df.to_sql(name='Y'+y, con=conn, if_exists='replace')

DatabaseError: Execution failed on sql 'CREATE TABLE TestTable2  ([Year] name)': table TestTable2 already exists

# Table Joining

Problem 8:

We'll move on to a new dataset for the next steps.
Download the dataset from here (https://www.kaggle.com/datasets/luizpaulodeoliveira/imdb-project-sql) and load the sqlite file same as before. Start by just selecting everything in the movie to see what it looks like.

In [16]:
conn = sqlite3.connect("movies.sqlite")
query = 'SELECT * FROM movies'

df = pd.read_sql(query, conn)
df.head()

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766

Problem 9:

Create a dataframe that includes the entire contents of movies as well as the director's name.

In [17]:

query = 'SELECT * FROM directors'
df = pd.read_sql(query, conn)

print(df.head(5))
df.size

                name    id  gender   uid department
0      James Cameron  4762       2  2710  Directing
1     Gore Verbinski  4763       2  1704  Directing
2         Sam Mendes  4764       2    39  Directing
3  Christopher Nolan  4765       2   525  Directing
4     Andrew Stanton  4766       2     7  Directing

11745

# Analysis

The next few problems will be more involved! You'll need to combine some concepts you've learned. For each cell, show your work.

Problem 10:

What is the average budget used for the top 10 grossing movies?

In [28]:

query = 'SELECT AVG(budget) FROM movies ORDER by revenue   limit 10;'

df = pd.read_sql(query, conn)

print(df.head(5))

    AVG(budget)
0  2.922461e+07

Problem 11: 

Which directors have the highest voting average? - show the top 5 directors' name and their average rating

In [30]:
query = 'SELECT name FROM movies, directors ORDER by vote_average  limit 5;'
df = pd.read_sql(query, conn)

print(df.head(5))

                name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4     Andrew Stanton

Problem 12: 

What are the top five directors by average budget?

In [32]:
query = 'SELECT AVG(budget) FROM movies ORDER by budget  limit 5;'
df = pd.read_sql(query, conn)

print(df.head(5))

    AVG(budget)
0  2.922461e+07

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=9bfcc5df-d86c-4118-bf41-2dea4c0738d8' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>